.bar .button .icon:before {
  font-size: 30px;
}
.bar .button .icon.ion-funnel:before {
  font-size: 25px;
}
.top-btn {
  padding: 0 !important;
}
.platform-android .bar .title {
  font-size: initial;
}
.bar.bar-stable {
  background: #fff;
}
.bar-stable .button {
  background: #fff;
}
.bg-gray {
  background: #f5f5f5;
}
.padding-bar {
  padding-top: 44px;
}
.pac-container {
  left: 0 !important;
  width: 100% !important;
  margin-top: 5px;
  padding: 0 10px;
}
.pac-container:after {
  display: none !important;
}
.pac-container .pac-item {
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.pac-container .pac-item span {
  line-height: 13px;
}
.pac-container .pac-item .pac-icon {
  display: block;
  width: 15px;
  float: left;
}
.pac-container .pac-item .pac-item-query {
  display: block;
  line-height: 13px;
}
.button.button-spacing {
  margin-top: 10px;
}
.button.button-light {
  border-color: #ddd;
}
.button.button-balanced {
  background-color: #5bbc5d;
}
.bar.bar-footer {
  padding: 0;
}
.bar.bar-footer .button {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.bar.bar-footer .button .badge {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 22px;
  border-radius: 15px;
  margin: 0 7px;
}
.bar.bar-footer .button .total {
  float: right;
}
.list-business:first-child {
  margin-top: 0;
}
.list-business {
  margin-top: 10px;
  background: #fff;
}
.list-business .title {
  text-transform: uppercase;
  padding: 15px 10px;
  font-size: 16px;
  margin: 0;
  color: #666;
}
.list-business .business {
  padding: 0 10px;
}
.list-business .business.close {
  background-color: #fff;
}
.list-business .business.close .data {
  background: rgba(0,0,0,0.5);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  position: relative;
  color: #fff;
}
.list-business .business.close .data p {
  width: 100%;
  position: absolute;
  top: 47%;
}
.list-business .business .header {
  padding: 0;
}
.list-business .business .header .data {
  min-height: 150px;
  height: 10vw;
}
.list-business .business table {
  margin: 10px 0;
}
.list-business .business table tr td {
  color: #333;
}
.list-business .business table tr td.name {
  font-weight: bold;
}
.list-business .business table tr td.time {
  font-size: 12px;
}
.list-business .business table tr td.description {
  color: #999;
}
.list-business .business table tr td:first-child {
  text-align: left;
}
.tabs {
  background-color: #fff;
  color: #000;
}
.tabs-striped .tab-item.tab-item-active,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.activated {
  border-color: #000;
}
.bar .left-buttons button,
.bar .right-buttons button,
.bar .buttons button {
  background: transparent;
}
.bar-transparent {
  background-color: transparent;
  border-bottom: 0;
  background-image: none;
}
.bar-transparent.bar-gradient {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.1) 100%);
}
.bar-transparent .left-buttons button,
.bar-transparent .right-buttons button,
.bar-transparent .buttons button {
  background: transparent;
  color: #fff;
}
.bar-transparent .title {
  display: none;
}
.rest-detail-item {
  background-color: #ddd;
  height: 195px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.business div.description {
  border: 1px solid #ccc;
  width: 90%;
  padding: 15px;
  background: #fff;
  margin: 0 auto;
  margin-top: -30px;
  border-radius: 2px;
  text-align: center;
}
.business div.description p.title {
  font-size: 20px;
  font-weight: bold;
}
.business div.description p.type {
  font-size: 14px;
  color: #777;
  margin: 0;
}
.business div.description p.time {
  font-size: 15px;
}
.business p.schedule {
  text-align: center;
  color: #666;
  font-size: 15px;
  padding: 7px 0;
}
.products {
  padding: 0 15px;
  background: #fff;
}
.products .category {
  text-align: center;
  padding: 20px 0 5px 0;
}
.products .category .name {
  font-size: 20px;
  color: #333;
}
.products .category .divider {
  width: 35px;
  border: 0;
  border-bottom: 1px solid #666;
}
.products .product {
  border-bottom: 0.5px solid #ddd;
}
.products .product:last-child {
  margin: 0;
}
.products .product img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.products .product .name {
  font-weight: bold;
}
.products .product .price {
  color: #333;
  position: static;
}
.products .product .description {
  max-height: 40px;
  height: auto;
  margin: 0 0 0;
}
.float-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.float-button.categories {
  background: #09091a;
  color: #fff;
  min-height: auto;
  min-width: auto;
  border-radius: 0;
}
.float-button.categories.with-footer {
  bottom: 65px;
}
.backdrop-categories {
  background-color: rgba(34,34,51,0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.float-categories {
  position: absolute;
  display: none;
  bottom: 18px;
  right: 18px;
  width: 82%;
  max-width: 500px;
  background-color: #f9f9f9;
  z-index: 100;
}
.float-categories .list .item {
  border-width: 0;
  color: #09091a;
}
.float-categories .list .item.activated {
  background-color: #eee;
}
.float-categories .list .item.activated .badge {
  background: #eee;
}
.float-categories .list .item .badge {
  background: #fff;
  padding: 3px 5px;
  right: 15px;
  color: #999;
}
.content-top {
  top: 0;
}
.bar-subheader {
  background: #f9f9f9;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.product-details {
  background: #fff;
}
.product-details .image {
  background-color: #ccc;
  max-height: 195px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.product-details .image img {
  width: 100%;
  visibility: hidden;
}
.product-details .information {
  text-align: center;
  padding: 20px 0 5px 0;
}
.product-details .information .name {
  font-size: 20px;
  color: #333;
}
.product-details .information .divider {
  width: 35px;
  border: 0;
  border-bottom: 1px solid #666;
}
.product-details .information .description {
  padding: 0 20px;
  color: #666;
}
.item.item-divider {
  padding-top: 5px;
  padding-bottom: 5px;
}
.item.item-divider span {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
}
.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background-color: #5bbc5d;
  border-color: #5bbc5d;
  border-radius: 0;
  width: 28px;
  height: 28px;
}
.platform-android .checkbox-platform input:before,
.platform-android .checkbox-platform .checkbox-icon:before,
.checkbox-square input:before,
.checkbox-square .checkbox-icon:before {
  width: 28px;
  height: 28px;
  border-radius: 0;
  border: 1px solid #999;
  background: transparent;
}
.platform-android .checkbox-platform input:after,
.platform-android .checkbox-platform .checkbox-icon:after,
.checkbox-square input:after,
.checkbox-square .checkbox-icon:after {
  top: 25%;
}
.item-radio input:checked + .radio-content .dynamic-radio:before {
  font-size: 35px;
  color: #5bbc5d;
}
.item-radio input + .radio-content .dynamic-radio:before {
  font-size: 35px;
  line-height: 52px;
  color: #999;
}
.item-radio input:checked + .radio-content .item-content {
  background: #fff;
}
