<ion-modal-view>
    <ion-header-bar class="bar-stable bar-shadow fix-buttons">
        <button class="button top-btn" ng-click="offPaymentPopup()"><img src="img/icon-close.png"></button>
        <ion-title class="font-large-x">{{ MLanguages.MOBILE_FRONT_PAYMENT_SELECT }}</ion-title>
        <button class="button top-btn mg-top-btn-right" ng-click=""></button>
    </ion-header-bar>
    <ion-content class="color-bg padding">
        <!--<div class="row">
            <div class="col col-35"> </div>
            <div class="col col-30"><img src="img/signup-avatar.png" class="w-100"></div>
            <div class="col col-35"> </div>
        </div>-->
        <ion-item class="item-divider" ng-class="{'arabic_rtl': arabic_rtl}">
            <span class="divider-padding no-padding-h positive">{{ MLanguages.MOBILE_FRONT_PLEASE_CHOOSE_YOUR_PAYMENT_METHOD }} ({{ MLanguages.FRONT_FORM_REQUIRED }})</span>
        </ion-item>
        <ion-radio class="radio-item" ng-if="(item.val != 'stripe' && item.val != 'paypal' && item.val != 'paypaladaptive') || (item.val == 'stripe' && ADDONS.stripe_payment && user_login) || (item.val == 'paypal' && ADDONS.paypal_payment) || (item.val == 'paypaladaptive' && ADDONS.paypal_adaptive_payment)" ng-repeat="item in payment"
                   ng-value="item.name"
                   name = "{{item.id}}"
                   ng-model="paymentModel.model"
                   ng-click="onClickMethod(item)">
            <div class="row">
                <span class="float-left dynamic-radio"></span>
                <div class="col col-10"> </div>
                <div class="col col-65">{{ item.name }}</div>
                <div class="col col-10 text-center"><img ng-cache ng-src={{item.img}} class="w-100"></div>
            </div>
        </ion-radio>
        <ion-item class="no-border no-bg no-padding-h mg-top-nor">
            <button class="button button-positive w-100" ng-click="offPaymentPopup()">{{ MLanguages.CONTROL_PANEL_DISCOUNT_OFFER_COLUMN5 }}</button>
        </ion-item>
    </ion-content>
</ion-modal-view>
