<ion-view>
   <ion-nav-bar class="bar-stable bar-shadow">
        <ion-nav-title>Support &amp; Info </ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button top-btn" ng-click="onClickBack2()"><img src="img/icon-close.png"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
             <i class="button icon-left ion-chatbubbles button-clear button-dark" ng-click="chatNow()">Chat</i>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
       <div class="list">

		  <div class="item item-button-right"  ng-click="privacy()">
			Privacy Policy
			<button class="button color">
			  <i class="icon ion-ios-arrow-forward" ></i>
			</button>
		  </div>
         <div class="item item-button-right" ng-click="terms()"> 
			Terms and Conditions
			<button class="button color">
			  <i class="icon ion-ios-arrow-forward"></i>
			</button>
		  </div>
		  <div class="item item-button-right"  ng-click="registerbusiness()">
			Register Business
			<button class="button color">
			  <i class="icon ion-ios-arrow-forward"></i>
			</button>
		  </div>
		  <div class="item item-button-right" ng-click="about()">
			About Us
			<button class="button color">
			  <i class="icon ion-ios-arrow-forward"></i>
			</button>
		  </div>
		  <div class="item item-button-right" ng-click="faq()">
			FAQ
			<button class="button color" >
			  <i class="icon ion-ios-arrow-forward"></i>
			</button>
		  </div>
		  <div class="item item-button-right"  ng-click="contactus()">
			Contact Us
			<button class="button color">
			  <i class="icon ion-ios-arrow-forward"></i>
			</button>
		  </div>
  

       </div>
		
	
    </ion-content>
	
	
</ion-view>